<div class="row">
  <div class="col-md-3">
      <%= render 'users/user-info', books: @books %>
  </div>
  <div class="col-md-9">
<%# ユーザー自信の投稿一覧を閲覧する %>
<%= render 'books/list', books: @books %>

  </div>
</div>

