<h1>Books</h1>
<h2>投稿一覧</h2>
<div><%= link_to "top", top_path %></div>

<% @books.each do |book| %>
  <p>タイトル</p>  
  <%# <%= link_to book.title, "/books/#{book.id}" %>
  <span><%= link_to book.title, book_path(book.id) %></span>
  <p>本文</p>  
  <span><%= book.body %></span>
<% end %>